################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PWAStudyWithModification/StudyTwo/bin
/PWAStudyWithModification/StudyTwo/obj/Debug
